
        
       

body{

    width: 100vh;
   
    background-image: url(images/food.png);
    font-family: 'Jua', sans-serif;
   margin: 0 auto;

}

article{
    display: flex;
    flex-direction: column;
  
    align-items: center;
}

article.result{
   
    background-color: white;
    margin: 0 auto;
   
}



#title.question{
    font-size: 50px;
}


button{
    width: 500px;
    height: 300px;
    border-radius: 25px;
    font-size: 30px;
  
    }

    .questioin{
    font-size: 35px;
    background-color: thistle;
    border-radius: 25px;
    width: 600px;
    }

button:hover{
    background-color:thistle;
}

#food{
    background-color: thistle;
    width: 500px;
    border-radius: 25px;
    font-size: 45px;
    
}

#explain{
    font-size: 19px;
  border-radius: 10px;
  background-color: rgba(59, 57, 57, 0.425);
 margin: 0 auto;
 line-height: 1.8;
  
}


.kakao_ad{
    width: 320px;
    margin: 0 auto;
}


.reset{
    width:500px;
    height: 100px;
    font-size: 40px;
    border-radius: 25px;

}

.btn-light{
    width: 500px;
    height: 300px;
    font-size: 40px;
    border-radius: 25px;
    background-color: thistle;
}

.question{
    display: none;
}

.result{
    display: none;
    
}

#img {
    width: 600px;
    height: 500px;
    
   
    
    
}



