
        
       

body{

    
  
    background-image: url(images/food.png);
    font-family: 'Jua', sans-serif;
  

}
.container{
    padding: 0;
    
}

article{
    display: flex;
    flex-direction: column;
     
    
}

article.result{
   
    
    margin: 0 auto;
   
}



#title.question{
    font-size: 50px;
}


button{
 color: black;
    width: auto;
    border-radius: 25px;
    font-size: 22px;
  
    }

    .questioin{
    font-size: 28px;
   background-color:rgba(224, 224, 224, 0.74);
    justify-content: center;
    align-items: center;
    }

button:hover{
    background-color:thistle;
}

#food{
    background-color: thistle;
    margin: 0 auto;
    border-radius: 25px;
    font-size: 40px;
    
}

#explain{
    font-size: 19px;
  border-radius: 10px;
  background-color: rgb(248, 255, 225);
 margin: 0 auto;
 line-height: 1.8;
 
  
}


.kakao_ad{
    width: 320px;
    margin: 0 auto;
}


.reset{
    
    height: 100px;
    font-size: 40px;
    border-radius: 25px;
    margin: 0 auto;
}

.btn-light{
    width: 500px;
    height: 300px;
    font-size: 40px;
    border-radius: 25px;
    background-color: thistle;
}

.question{
    display: none;
}

.result{
    display: none;
    
}

#img {
   margin: 0 auto;
    width: 300px;
    height: 300px;
    
    
}

.addthis_inline_share_toolbox_sfh9{

   margin: 0 auto;
}


